@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color:#ea3c5f;
}


.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 700px;
  left: 0;
  top: 0;
  height: 11vh;
  width: 100vw;
  position: fixed;
  background-color: #ea3c5f;
  z-index: 1030;
}
.wavy-border {
  position: relative;
  padding: 20px;
  background-color: #fff;
  overflow: hidden;
  background: linear-gradient(to bottom, transparent 50%, #007bff 50%) no-repeat;
  background-size: 100% 20px; /* Imposta l'altezza dell'effetto ondulato */
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 0px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    font-size: xx-large;
    color: white;
    width: 10%;
    height: 100%;
}

.space{
  height: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

.custom-dropdown{
  width: 15%;
}
.btn-back-drop{
  background-color: #ea3c5f;
  border: none;
  color: lightgrey;
  font-size: medium;
}

.btn-back-drop:hover{
  background-color: #ea3c5f;
  color: lightgrey;
}

a{
  text-decoration: none;
  color: white;
  position: relative;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: relative;
  top: -90px;
}

.title{
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  font-size: xxx-large;

}

.sub-title{
  display: flex;
  justify-content: center;
  color: white;
}
